page-home {
  .scroll-content {
    background-color: black;
    padding: 0 !important;
    overflow-y: hidden;
  }
  .slideP1 {
    background-color: black;
    height: 100% !important;
    overflow-y: hidden;
  }
  .slideP2 {
    background-color: black;
    height: 100% !important;
    overflow: hidden;
  }
  .slide-zoom {
    height: 100% !important;
    background-color: black;
    overflow-y: hidden;
  }
}
